html, body{
	background-color: gray;
}

.jumbotron{
	background-color: lightgray;
	padding-left: 5rem;
	padding-right: 5rem;
}

#title-text{
	text-align: center;
}

.row{
	width: 100%;
}

h2{
	font-size: 30px;
}

p{
	font-size: 30px;
}